.deepblue{
  color:#3E4BA6;
}
.lightblue{
  color:#4EEFE8;
}
.deepgreen{
  color:#2DCC18;
}
.lightgreen{
  color:#5AFF60;
}
.black{
  color:#000000;
}
body{
  background-color:#000000;
}
span{
  background-color:#5AFF60;
}
select{
  background-color:#5AFF60;
}
