.deepblue{
  color:#3E4BA6;
}
.lightblue{
  color:#4EEFE8;
}
.deepgreen{
  color:#2DCC18;
}
.lightgreen{
  color:#5AFF60;
}
.black{
  color:#000000;
}
body{
  background-color:#000000;
}
span{
  background-color:#1AE81B;
}
select{
  background-color:#1AE81B;
}
a{
  background-color:#1AE81B;
}
table{
  background-color:#1AE81B;
}
input{
  background-color:#1AE81B;
}
button{
  background-color:#1AE81B;
}
