*{
  border-width:0px !important;
  outline-width:0px !important;
}
:focus {
  outline-width:0px !important;
}
.deepblue{
  color:#3E4BA6;
}
.lightblue{
  color:#4EEFE8;
}
.deepgreen{
  color:#2DCC18;
}
.lightgreen{
  color:#5AFF60;
}
.black{
  color:#000000;
}
body{
  background-color:#000000;
}
span{
  color:#FFFFFF;
}
p{
  color:#FFFFFF;
}
select{
  background-color:#4AE83F;
}
option{
  background-color:#B0FFA0;
}
/*select:hover{*/
/*  background-color:#B0FFA0;*/
/*}*/
a{
  background-color:#4AE83F;
  color:#000000;
}
a:active{
  background-color:#B0FFA0;
}
table{
  background-color:#4AE83F;
}
input{
  background-color:#4AE83F !important;
}
input:focus{
  background-color:#B0FFA0 !important;
}
/*input:hover{*/
/*  background-color:#B0FFA0 !important;*/
/*}*/
button{
  background-color:#4AE83F;
}
button:active{
  background-color:#B0FFA0;
}
